<%- include("partials/header.ejs"); %>


    <h1 id="heading" class="box">
        <%= kindOfDay %>
    </h1>
    <div class="box">

        <% itemsHere.forEach(element=> { %>

            <form action="/delete" method="post">
                <div class="item">

                    <input type="checkbox" name="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
                    <p>
                        <%= element.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= kindOfDay %>">
            </form>
            <% }); %>

                <form class="item" action="/" method="post">

                    <input type="text" name="newItem" placeholder="Enter name" required autocomplete="off">
                    <button type="submit" name="kindOfDay" value="<%= kindOfDay %>"> +</button>

                </form>
    </div>
    <%- include("partials/footer.ejs"); %>